@model BtcTransmuter.Models.ExtensionsViewModel
@{
    ViewData["Title"] = "Extensions";
}
<h2>@ViewData["Title"]</h2>


<ul>
    @foreach (var extension in Model.Extensions)
    {
        <li><h2>@extension.Name</h2> - @extension.Version</li>
                                                
        <li>
            
            <ul>
                <li><h3>Actions</h3></li>
                @foreach (var actionDescriptor in extension.Actions)
                {
                    <li>@actionDescriptor.Name - @actionDescriptor.Description</li>
                }
            </ul>
        </li>
        <li>
            <ul>
                <li><h3>Triggers</h3></li>
                @foreach (var triggerDescriptor in extension.Triggers)
                {
                    <li>@triggerDescriptor.Name -  @triggerDescriptor.Description</li>
                }
            </ul>

        </li>
        <li>
            <ul>
                <li><h3>External Services</h3></li>
                @foreach (var externalServiceDescriptor in extension.ExternalServices)
                {
                    <li>@externalServiceDescriptor.Name -  @externalServiceDescriptor.Description</li>
                }
            </ul>
        </li>
    }
</ul>








