@model UpdateActionGroupOrderViewModel

<li class="list-group-item px-0">
    <form class="card" asp-action="ReorderRecipeActionGroup" asp-controller="Recipes" asp-route-id="@Model.RecipeActionGroup.RecipeId" asp-route-actionGroupId="@Model.RecipeActionGroup.Id">
        <ul class="list-group list-group-flush">
            @for (var index = 0; index < Model.RecipeActionGroup.RecipeActions.Count; index++)
            {
                var action = Model.RecipeActionGroup.RecipeActions[index];
                <li class="list-group-item">
                    <div class="row m-0 p-0">
                        <div class="col-sm-12 col-md-8">
                            @await Component.InvokeAsync("ViewRecipeAction", action)
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a asp-action="EditRecipeAction" asp-controller="RecipeActions" asp-route-id="@Model.RecipeActionGroup.RecipeId" asp-route-recipeActionId="@action.Id">Edit</a>
                            -
                            <a asp-action="RemoveRecipeAction" asp-controller="RecipeActions" asp-route-id="@Model.RecipeActionGroup.RecipeId" asp-route-recipeActionId="@action.Id">Remove</a>

                        </div>
                        <div class="col-sm-12 col-md-2">
                            <input type="number"
                                   class="form-input w-100"
                                   asp-for="UpdateActionGroupOrderItems[index].Order">
                        </div>
                    </div>
                    <input
                        type="hidden"
                        value="@action.Id"
                        asp-for="UpdateActionGroupOrderItems[index].RecipeActionId">
                </li>
            }
            @if (!Model.RecipeActionGroup.RecipeActions.Any())
            {
                <li class="list-group-item border-top-0">
                    No Actions.
                </li>
            }
        </ul>
        <div class="card-footer">
            <a class="text-danger" asp-action="RemoveRecipeActionGroup" asp-controller="Recipes" asp-route-id="@Model.RecipeActionGroup.RecipeId" asp-route-actionGroupId="@Model.RecipeActionGroup.Id">Remove Action Group</a>
            -
            <a asp-action="EditRecipeAction" asp-controller="RecipeActions" asp-route-id="@Model.RecipeActionGroup.RecipeId" asp-route-recipeActionGroupId="@Model.RecipeActionGroup.Id">Add Action</a>
            -
            <button type="submit" class="btn btn-link p-0" style="vertical-align: bottom">Update Action Order</button>

        </div>

    </form>
</li>