@model Dictionary<string, object>
<ul style="list-style-type: none">@foreach (var posDataItem in Model)
{<li>@if (!string.IsNullOrEmpty(posDataItem.Key))
    {<span class="badge badge-primary">@posDataItem.Key</span>if (posDataItem.Value is string)
    {<span class="badge badge-secondary">@(string.IsNullOrEmpty((string)posDataItem.Value) ? "No value" : posDataItem.Value)</span>}
else
{<partial name="PosData" model="@posDataItem.Value" />}
}
else
{<ul colspan="2"><li>@if (posDataItem.Value is string)
{<span class="badge badge-secondary">@(string.IsNullOrEmpty((string)posDataItem.Value) ? "No value" : posDataItem.Value)</span>}
else
{<partial name="PosData" model="@posDataItem.Value" />}</li></ul>}</li>}</ul>