@model BtcTransmuter.Models.ExtensionsViewModel
@{
    ViewData["Title"] = "Extensions";
}
<h2>@ViewData["Title"]</h2>


<ul class="list-group list-group-flush">
    @foreach (var extension in Model.Extensions)
    {
        <li class="list-group-item py-0 border-topy-0">
            <h2>
                @extension.Name <span class="badge badge-secondary">@extension.Version</span>
            </h2>
        </li>

        if (extension.Actions.Any())
        {
            <li class="list-group-item py-0">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item py-0 border-topy-0">
                        <h3>Actions</h3>
                    </li>
                    @foreach (var actionDescriptor in extension.Actions)
                    {
                        <li class="list-group-item py-0">@actionDescriptor.Name - @actionDescriptor.Description</li>
                    }
                </ul>
            </li>
        }
        if (extension.Triggers.Any())
        {
            <li class="list-group-item py-0">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item py-0 border-topy-0">
                        <h3>Triggers</h3>
                    </li>
                    @foreach (var triggerDescriptor in extension.Triggers)
                    {
                        <li class="list-group-item py-0">@triggerDescriptor.Name - @triggerDescriptor.Description</li>
                    }
                </ul>

            </li>
        }

        if (extension.ExternalServices.Any())
        {
            <li class="list-group-item py-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item py-0 border-topy-0">
                        <h3>External Services</h3>
                    </li>
                    @foreach (var externalServiceDescriptor in extension.ExternalServices)
                    {
                        <li class="list-group-item py-0">@externalServiceDescriptor.Name - @externalServiceDescriptor.Description</li>
                    }
                </ul>
            </li>
        }
    }
</ul>