@model GetExternalServicesViewModel

@{
    ViewData["Title"] = "External Services";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <partial name="_StatusMessage" model="@Model.StatusMessage"/>
    </div>
</div>
<h2>@ViewData["Title"] <a asp-action="CreateExternalService" class="badge badge-primary">Create New </a></h2>

<table class="table table-responsive-md">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Details
        </th>
        <th width="120"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ExternalServices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @{
                    var serviceDescriptor = @Model.Descriptors.FirstOrDefault(descriptor => descriptor.ExternalServiceType == item.Type);
                }
                @if (serviceDescriptor == null)
                {
                    
                    <span> Extension for this external service is not present</span>
                }
                else
                {
                    @await Html.PartialAsync(serviceDescriptor.ViewPartial, item)
                }
            </td>
            <td>
                <a asp-action="EditExternalService" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="RemoveExternalService" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>