@using BtcTransmuter.Extension.NBXplorer.Models
@using Newtonsoft.Json.Linq
@model NBXplorerSummariesViewModel

@{
    ViewData["Title"] = "View NBXplorer Status";
}


<h2>@ViewData["Title"]</h2>
@if (Model.Summaries.Any())
{
foreach (var summary in Model.Summaries)
 {
     <div class="card">
         <div class="card-body">
             <h3 class="card-title">
                 @summary.Key <span class="badge badge-secondary">@Enum.GetName(typeof(NBXplorerState), summary.Value.State)</span>
             </h3>
             @if (!string.IsNullOrEmpty(summary.Value.Error))
             {
                 <p class="card-text">@summary.Value.Error</p>
             }
             @if (summary.Value.Status != null)
             {
                 <pre class="card-text">@JObject.FromObject(summary.Value.Status).ToString()</pre>
             }


         </div>
     </div>
     <br/>
 }
}
else
{
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                NBXplorer is not configured from the looks of it. You might want to take a look at that.
            </h3>
        </div>
    </div>
}