@using BtcTransmuter.Extension.Recipe.Actions.CreateRecipe
@using BtcTransmuter.Extension.Recipe.Actions.ToggleRecipe
@model BtcTransmuter.Extension.Recipe.Actions.ToggleRecipe.ToggleRecipeController.ToggleRecipeViewModel
@{
    ViewData["Title"] = "Edit Toggle Recipe Action";
}

<h2>@ViewData["Title"]</h2>


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="TargetRecipeId" class="control-label"></label>
        <select asp-for="TargetRecipeId" asp-items="Model.Recipes" class="form-control"></select>
        <span asp-validation-for="TargetRecipeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Option" class="control-label"></label>
        <select asp-for="Option"
                asp-items="@Html.GetEnumSelectList(typeof(ToggleRecipeData.ToggleRecipeOption))" 
                class="form-control"></select>

        <span asp-validation-for="Option" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="RecipeId"/>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="EditRecipe" asp-controller="Recipes" class="btn btn-secondary" asp-route-id="@Model.RecipeId">Back to recipe</a>
    </div>
</form>
@await Component.InvokeAsync("RecipeActionFooter", new
{
    recipeId = @Model.RecipeId, 
    recipeActionIdInGroupBeforeThisOne = @Model.RecipeActionIdInGroupBeforeThisOne
})