@model BtcTransmuter.Controllers.GetRecipesViewModel


@{
    ViewData["Title"] = "Recipes";
}

<div class="row">
    <div class="col-lg-12 text-center">
        <partial name="_StatusMessage" model="@Model.StatusMessage"/>
    </div>
</div>
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="CreateRecipe">Create New</a>
</p>
@if (!Model.Recipes.Any())
{
    <div class="card">
        <h3 class="card-header text-center">
            No Recipes!
        </h3>
    </div>
}
<div class="card-columns">

    @foreach (var recipe in Model.Recipes)
    {
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@Html.Raw(recipe.Name)</h3>
                <p class="card-text">@Html.Raw(recipe.Description)</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h4>Trigger</h4>
                    @if (recipe.RecipeTrigger == null)
                    {
                        <span>No trigger set yet</span>
                    }
                    else
                    {
                        
                        @await Component.InvokeAsync("ViewRecipeTrigger", recipe.RecipeTrigger);
                    }
                </li>
                <li class="list-group-item">
                    <h4>Actions</h4>
                    <ul>
                        @foreach (var action in recipe.RecipeActions)
                        {
                            <li>
                                @await Component.InvokeAsync("ViewRecipeAction", action);

                            </li>
                        }
                    </ul>
                </li>
            </ul>
            <div class="card-footer">
                <a asp-action="EditRecipe" asp-controller="Recipes" asp-route-id="@recipe.Id">Edit</a> -
                <a asp-action="RemoveRecipe" asp-route-id="@recipe.Id">Remove</a> -
                <a asp-action="GetRecipeLogs" asp-route-id="@recipe.Id">Logs (@recipe.RecipeInvocations.Count)</a>
            </div>

        </div>
    }

</div>