@model ViewRecipeTriggerViewModel

<partial name="@Model.TriggerDescriptor.ViewPartial" model="@Model.RecipeTrigger"></partial>
@* <a asp-action="EditRecipeTrigger" asp-controller="RecipeTriggers"  *@
@*    asp-route-id="@Model.RecipeTrigger.RecipeId"  *@
@*    asp-route-recipeTriggerId="@Model.RecipeTrigger.Id"> Edit</a> *@
@if (Model.ExternalServiceData != null)
 {
     <div>
         External Service: @Model.ExternalServiceData.Name
         @* <a asp-action="EditExternalService" asp-controller="ExternalServices"  *@
         @*    asp-route-id="@Model.ExternalServiceData.Id" > Edit</a> *@
     </div>
 }